# DB
DB_URL="postgresql://<username>:<password>@<host>/<dbname>?sslmode=require"

# Model
GROQ_API_KEY="<your-groq-api-key>"

# Email Configuration
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT=587
SENDER_EMAIL="<your-email>"
SENDER_PASSWORD="<your-app-password>"
RECIPIENT_EMAIL="<recipient-email>"

# Google OAuth config
GOOGLE_OAUTH_CLIENT_SECRETS="<path-to-client-secret.json>"
TOKEN_PATH="<path-to-token.json>"
DELIVERY_SHEET_FOLDER_ID="<your-google-drive-folder-id>"

# Twilio config
TWILIO_ACCOUNT_SID="<your-twilio-sid>"
TWILIO_AUTH_TOKEN="<your-twilio-auth-token>"
TWILIO_SANDBOX_NUMBER="whatsapp:+14155238886"

# Redis Configuration
UPSTASH_REDIS_HOST="<your-redis-host>"
UPSTASH_REDIS_PORT=6379
UPSTASH_REDIS_PASSWORD="<your-redis-password>"

# Admin creds
ADMIN_EMAIL="<admin-email>"
ADMIN_ID="<admin-id>"

JWT_SECRET="<your-super-secret-jwt-key>"

# UI Host for email links
UI_HOST="http://localhost:8000"

ws_token="<your-websocket-token>"
